<% include partials/header.ejs%>
<h1><%=campgroundsVar.name%></h1>

<img src="<%= campgroundsVar.image%>">

<p><%= campgroundsVar.description%></p>
<a href="/campgrounds">Go Back</a>

<% include partials/footer.ejs%>