<%include ../partials/header.ejs%>
<header class="jumbotron">
    <h1>Welcome To YelpCamp!</h1>
    <p>View our hand-picked campgounds from all over the world</p>
    <p>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add A New Campground</a>
    </p>
</header>

<div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <% campgroundsVar.forEach(function (campground) { %>
        <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
                <img src="<%= campground.image%>">

                <div class="caption">
                    <div>
                        <h3><strong><%= campground.name %></strong></h3>
                        <h5><em>Published By</em> <%= campground.author.username%></h5>
                    </div>
                </div>
                <p>
                    <a href="/campgrounds/<%= campground._id%>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
    <%})%>
</div>


<%include ../partials/footer.ejs%>